<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kino Leather</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include('header'); -%>

        <% if (locals.errors) { %>
        <% errors.forEach(function(err) { %>
        <p><%= err.msg %></p>
        <% }); %>
        <% } %>
    </body>
</html>
